$mainColor: rgb(34, 139, 34);

//Text Sizes

$mainHeading: clamp(1.5rem, 4vw, 150px);
$secondHeading: clamp(1.1rem, 2vw, 40px);
$thirdHeading: clamp(1rem, 1.8vw, 30px);
$logoSize: clamp(1em, 2vw, 7rem);
$basicParagraf: clamp(14px, 1.5vw, 19px);
$buttons: clamp(1rem, 1.1vw, 3rem);
