.title {
    padding-top: 4rem;
    border-bottom: 2px solid $mainColor;
    width: fit-content;
    margin: 0 auto 40px auto;
    font-size: $secondHeading;

    span {
        color: $mainColor;
    }
}

.container-xxl {
    margin: 0 100px;
    @include eXSmall{
        margin: 0;
    }
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .card-img-top {
        height: 40%;
    }

    .card-title {
        font-weight: bold;
        @include wide {
            font-size: 4rem;
        }
    }

    &:hover {
        background-color: $mainColor;
        color: white;
        transition: 0.2s ease-in;
    }

    .card-text {
        padding-bottom: 20px;
        @include wide{
            font-size: 2.5rem;
        }
    }

    .card-body p {
        @include landscape {
            font-size: 1.5rem;
        }
    }
}

.btn-primary {
    position: absolute;
    bottom: 4%;
    left: 4%;
    @include wide{
        font-size: 3rem;
    }
}
